@charset "UTF-8";

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "GmarketSansMedium";
}

img {
  width: 500px;
  height: 500px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

a {
  color: black;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgba(206, 206, 206, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 1300px;
  display: block;
}

textarea {
  padding-top: 15px;
  resize: none;
  border: 1px solid rgba(134, 134, 134, 0.9);
  box-shadow: 1px 2px 3px 1px rgba(134, 134, 134, 0.7);
  border-radius: 5px;
}

ul,
li,
a {
  padding: 0;
  text-decoration: none;
  list-style: none;
}
ul {
  margin-top: 20px;
  font-size: 18px;
}
button {
  border: none;
  cursor: pointer;
  background-color: #d9e8f5;
}
footer {
  height: 20vh;
  background-color: #76b1e8;
}

#teamname > span {
  color: white;
  font-weight: 700;
  cursor: default;
}

#myprofile > img {
  width: 50px;
  height: 50px;
}

#container_title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

#container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #76b1e8;
}

#container_header > ul {
  width: 100px;
  height: 100px;
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container_header > div {
  padding: 24px;
  font-size: 30px;
}

#container_content {
  border-radius: 15px;
  background-color: aliceblue;
  margin-top: 30px;
}

#content_img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* 가로세로 비율을 유지한 채로 사이즈가 조절되며, 비율이 맞지 않더라도 이미지를 확대해 컨테이너를 완전히 채움*/
  /* object-fit: contain;  가로세로 비율을 유지한 채로 사이즈가 조절되지만, 이미지와 컨테이너 간의 비율이 맞지 않는 경우엔 자리가 남게 됩니다. */
}

#content {
  padding: 24px 24px 72px 24px;
}

#content > span {
  width: 100%;
  font-size: 36px;
}

#content > p {
  margin-top: 16px;
  width: 100%;
  height: 10vh;
  overflow: auto;
}

#delete {
  color: rgb(240, 81, 108);
  font-weight: 900;
}

#likedelete {
  border-top: 1px solid #b5bdc5;
  background-color: azure;
  padding: 14px 0 14px 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #b5bdc5;
}

#likedelete > div {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#likes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(134, 134, 134, 0.9);
  color: rgb(61, 172, 216);
}

#likes > span {
  font-weight: 700;
}

#likescount {
  margin-left: 10px;
}

#container_coment {
  border: 1px solid #b5bdc5;
  background-color: white;
  padding: 24px 24px 0 24px;
  box-shadow: 4px 4px 4px 4px #d4d5d6;
  margin-top: 30px;
}

#coment_box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#coment_box > span {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 16px;
}

#coment_box > div {
  display: flex;
  justify-content: center;
  margin: 24px;
  height: 50px;
}

.commentsubmit {
  display: flex;
  justify-content: center;
  background-color: rgb(89, 164, 229);
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 22px;
  width: 100px;
  cursor: pointer;
}

#myprofile {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: 0 0 20px 20px;
}

#myprofile:hover #dropdown {
  transform: translateX(-90px);

  /* height: 300px; */
  /* display: block; */

  /* transform: translateX(0px); */

  /* animation: menuon 1s ease 0.5s forwards; */
}

#dropdown {
  /* display: none; */
  padding: 10px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 190px;
  height: 300px;
  background-color: #76b1e8;
  transition: all 0.5s;
  position: absolute;
  bottom: -300px;
  border-bottom-left-radius: 10%;
  transform: translateX(300px);
  /* transform: translateX(100px); */
}

#dropdown > li {
  margin-bottom: 5px;
  padding: 10px;
  font-size: 22px;
}

#dropdown > li > a {
  transition: all 0.3s;
  font-weight: 700;
}

#dropdown > li:hover > a {
  color: white;
  border-bottom: 1px solid white;
}

.buttonbox > div {
  width: 24px;
  height: 24px;
}

.buttonbox {
  display: flex;
  align-items: center;
  border: none;
  background-color: #f0ffff;
  cursor: pointer;
}

.off {
  background-image: url("/img/line-heart.png");
  background-size: cover;
}

.on {
  background-image: url("/img/color-heart.png");
  background-size: cover;
}

.delete {
  background-image: url("/img/send.png");
  background-size: cover;
}

button {
  display: flex;
}

.changbox {
  margin-left: 10px;
}

.buttonbox,
.spanbox {
  height: 30px;
}

.likescount {
  vertical-align: middle;
  display: table-cell;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: rgb(61, 172, 216);
}

.commentsubmit,
header {
  box-shadow: 0px 2px 2px 2px #b5bdc5;
}

.detailleftbox {
  position: relative;
  width: 700px;
  height: 1040px;
  border: 2px solid #b5bdc5;
  box-shadow: 0 10px 10px 10px #d4d5d6;
  border-radius: 15px;
  background-color: #d9e8f5;
  z-index: 2;
}
#container_space {
  position: relative;
  border-radius: 15px;
  display: flex;
}

#cmtContainer {
  position: absolute;
  top: 0;
  right: 49%;
  z-index: 1;
  width: 510px;
  height: 1040px;
  display: flex;
  flex-direction: column;
  border: 2px solid #b5bdc5;
  background-color: #d9e8f5;
  box-shadow: 0 10px 10px 10px #d4d5d6;
  border-radius: 15px;
}
.commentlist {
  padding: 24px;
}

.commentR {
  position: relative;
  height: 780px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.commentR > div:nth-child(2) {
  display: flex;
  flex-direction: column;

  align-items: flex-end;
}
.commentR > div:nth-child(2) > textarea {
  width: 100%;
  height: 100px;
  padding: 20px 0 0 20px;
}
#commentsubmit {
  margin: 20px 20px 0 0;
}
#comments {
  cursor: pointer;
}
#updatedelete {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #b5bdc5;
}
#update,
#delete {
  font-size: 30px;
  padding-top: 25px;
  text-align: center;
}
button {
  cursor: pointer;
}

.submitbox {
  width: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.submitbox:first-child {
  border-right: 1px solid #b5bdc5;
}
