* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #93effe;
}
label {
  color: black;
  width: 10rem;
  height: 10rem;
}
#form {
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 550px;
  height: 640px;
  padding: 80px 32px 16px 32px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  margin: 0 auto;
  transition: all 0.5s;
}
#form:hover {
  box-shadow: 3px 4px 5px 1px rgba(126, 126, 126, 0.6);

  transform: translateY(-4px);
}

input {
  width: 100%;
  margin-top: 2rem;
  height: 4rem;
  border: none;
  padding: 1.5rem;
}
input:focus,
input:active {
  outline: none;
}
button {
  width: 100%;
  margin-top: 2rem;
  height: 4rem;
  border: none;
  padding: 1.5rem;
}
#container {
  animation: main2 1.1s ease-out forwards;
  background-repeat: no-repeat;
  background-size: cover;

  background: url("/login/7.jpg");
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: 1;
  /* background-color: red; */
  background: linear-gradient(#ffffff, #91eeff);
  animation: main3 1s ease-out forwards;
}
@keyframes main3 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes main2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.imgbox {
  box-shadow: 2px 2px 2px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: white;
  margin-top: 2rem;
  padding: 2rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.inputbox > input {
  box-shadow: 2px 2px 2px gray;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.inputbox {
  display: flex;
}

#idimg > img {
  width: 2rem;
  height: 2rem;
}
#pwimg > img {
  width: 2rem;
  height: 2rem;
}

#conatiner_box {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container_tran {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-out;
  backdrop-filter: blur(10px);
}
#container_tran:hover {
  transform: translateY(-5px);
}
#registImg {
  margin: 0 auto;
  position: absolute;
  top: -80px;
  right: 195px;
  background-image: url("/img/regist.png");
  width: 160px;
  height: 160px;
  background-size: cover;
  background-color: rgba(161, 208, 253, 0.9);
  background-color: rgb(211, 231, 245);

  border-radius: 50%;
}
#regist {
  display: flex;
  flex-direction: column;
}
#loginBox {
  border-radius: 1rem;
  color: gray;
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(360deg, #29aad2, #66b7f1);
  box-shadow: 3px 3px 5px rgb(71, 85, 97);
  transition: all 0.5s;
  cursor: pointer;
}
#loginBox:hover {
  color: white;
}
#more {
  display: flex;
  height: 4rem;
  color: rgb(0, 0, 25);
  padding: 16px 0 16px 0;
  font-size: 1.3rem;
  justify-content: space-around;
  align-items: center;
}
#more > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#more > div > :first-child {
  text-decoration: none;
  font-family: "Russo One", sans-serif;
  border-bottom: 2px solid gray;
  color: gray;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
}
#more > div > :first-child:hover {
  color: black;
  border-bottom: 2px solid black;
}
#more > div:first-child > a {
  text-decoration: none;
  font-family: "Russo One", sans-serif;
  border-bottom: 2px solid gray;
  color: gray;
  width: auto;
}
#more > div:first-child > a:hover {
  color: black;
  border-bottom: 2px solid black;
}

#more > div:first-child > input {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  margin-right: 1rem;
}

#footer {
  text-align: center;
  margin-top: 2.3rem;
  font-size: 1.3rem;
  padding-bottom: 5px;
  font-weight: 700;
  background: linear-gradient(to right, #938a8a, skyblue);
  color: transparent;
  -webkit-background-clip: text;
  /* 
  background-clip은 background 를 어디까지 적용시키는지에 대한 것이다.

  우리는 텍스트에 배경색을 채워야 하므로, text를 적어주자.

  background-clip만 적으면 텍스트 원래 색인 검은색 배경에 그라디언트가 적용 된다.

  이를 보여주게 하려면 텍스트 원래의 색을 투명하게 만들어야 하기 때문에

  color: transparent를 적용시킨다.
 */
}

/*
 box - shadow 문법
box-shadow: none | x-position y-position blur spread color | inset | initial | inherit 
ex) box-shawdow : 5px 5px 5px 5px black
*/
