@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'GmarketSansMedium';
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
a {
  color: black;
  text-decoration: none;
}

body {
  background-color: rgba(162, 199, 232, 0.4);
}

section {
  width: 860px;
  display: block;
  margin: 0 auto;
}

textarea {
  padding-top: 15px;
  resize: none;
  border: 1px solid rgba(134, 134, 134, 0.9);
  box-shadow: 1px 2px 3px 1px rgba(134, 134, 134, 0.7);
  border-radius: 5px;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

footer {
  height: 20vh;
  background-color: #76b1e8;
}

footer > div {
  height: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer > div > span {
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: white;
}
#teamname > span {
  color: white;
  font-weight: 700;
  cursor: default;
}
#myprofile > img {
  width: 50px;
  height: 50px;
}

#container_title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

#container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #76b1e8;
}

#container_header > ul {
  width: 100px;
  height: 100px;
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container_header > div {
  padding: 24px;
  font-size: 30px;
}

#container_content {
  border-radius: 15px;
  background-color: aliceblue;
  margin-top: 30px;
}

#content_img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* 가로세로 비율을 유지한 채로 사이즈가 조절되며, 비율이 맞지 않더라도 이미지를 확대해 컨테이너를 완전히 채움*/
  /* object-fit: contain;  가로세로 비율을 유지한 채로 사이즈가 조절되지만, 이미지와 컨테이너 간의 비율이 맞지 않는 경우엔 자리가 남게 됩니다. */
}

#content {
  padding: 24px 24px 72px 24px;
}

#content > span {
  width: 100%;
  font-size: 36px;
}

#content > p {
  margin-top: 16px;
  width: 100%;
  height: 10vh;
  overflow: auto;
}

#delete {
  color: rgb(240, 81, 108);
  font-weight: 900;
}

#likedelete {
  border-top: 1px solid #b5bdc5;
  background-color: azure;
  padding: 14px 0 14px 0;
  border-radius: 15px;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #b5bdc5;
}

#likedelete > div {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#likes {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(134, 134, 134, 0.9);
  color: rgb(61, 172, 216);
}
#likes > span {
  font-weight: 700;
}
#likescount {
  margin-left: 10px;
}

#container_coment {
  border: 1px solid #b5bdc5;
  background-color: white;
  padding: 24px 24px 0 24px;
  box-shadow: 4px 4px 4px 4px #d4d5d6;
  margin-top: 30px;
}

#coment_box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#coment_box > span {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 16px;
}

#coment_box > div {
  display: flex;
  justify-content: center;
  margin: 24px;
  height: 50px;
}

#commentsubmit {
  display: flex;
  justify-content: center;
  background-color: rgb(89, 164, 229);
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 22px;
  width: 100px;
  cursor: pointer;
}

#container_pagenav {
  display: flex;
  justify-content: center;
}

#pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50%;
  margin-bottom: 48px;
}

#pagenation > ul {
  display: flex;
  height: 100%;
  justify-content: space-around;
  padding: 10px 0 10px 0;
  list-style: none;
  text-decoration: none;
}

#pagenation > ul > li {
  width: 50px;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 20px;
  border: 1px solid rgb(150, 149, 149, 0.4);
}

.mv {
  color: #76b1e8;
}

#myprofile {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  width: 100px;
  height: 100px;
}

#myprofile:hover #dropdown {
  transform: translateX(-90px);

  /* height: 300px; */
  /* display: block; */

  /* transform: translateX(0px); */

  /* animation: menuon 1s ease 0.5s forwards; */
}

#dropdown {
  /* display: none; */
  padding: 10px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 190px;
  height: 300px;
  background-color: #76b1e8;
  transition: all 0.5s;
  position: absolute;
  bottom: -300px;
  border-bottom-left-radius: 10%;
  transform: translateX(300px);
  /* transform: translateX(100px); */
}

#dropdown > li {
  margin-bottom: 5px;
  padding: 10px;
  font-size: 22px;
}

#dropdown > li > a {
  transition: all 0.3s;
  font-weight: 700;
}

#dropdown > li:hover > a {
  color: white;
  border-bottom: 1px solid white;
}

#container_space {
  border: 2px solid #b5bdc5;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 10px #d4d5d6;
  margin-bottom: 70px;
  margin-top: 120px;
}

.buttonbox > div {
  width: 24px;
  height: 24px;
}
.buttonbox {
  display: flex;
  align-items: center;
  border: none;
  background-color: #f0ffff;
  cursor: pointer;
}

.off {
  background-image: url("/img/line-heart.png");
  background-size: cover;
}
.on {
  background-image: url("/img/color-heart.png");
  background-size: cover;
}

.delete {
  background-image: url("/img/warning.png");
  background-size: cover;
}
button {
  display: flex;
}
.changbox {
  margin-left: 10px;
}
.buttonbox,
.spanbox {
  height: 30px;
}

.likescount {
  vertical-align: middle;
  display: table-cell;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: rgb(61, 172, 216);
}

#commentsubmit,
header {
  box-shadow: 0px 2px 2px 2px #b5bdc5;
}
