<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
<link rel="stylesheet" href="/css/boardinsert.css" />
</head>
<body>
	<header>
		<div id="container_header">
			<div id="teamname">
				<a href="mainlist">LACJ</a>
			</div>
			<div id="myprofile">
				<a href="mypage"><img src="/img/myprofile.png" alt="" /></a>
			</div>
		</div>
	</header>

	<section>
		<form action="/boardinsert" method="post"
			enctype="multipart/form-data">
			<div id="container">
				<div id="containerL">
					<!-- 사진 출력 > 자바 스크립트 사용해서 업로드 이벤트가 인식되면 아이디가 preview인 img 태그안에 소스를 저장함-->
					<img id="preview">
				</div>
				<div id="containerR">
					<input type="text" name="btitle" placeholder="제목을 작성해주세요" />
					<textarea name="bcontent" id="insertboard" cols="20" rows="10"
						placeholder="내용을 작성 해주세요"></textarea>
				</div>
				<div id="containerB">
					<label for="filebtn">이미지 등록</label> <input type="file" value="파일선택"
						id="filebtn" onchange="readURL(this);" name="file" />
					<div>
						<input type="checkbox" value="G" class="Guest" name="bpublic">
						<span >비공개</span>
						<button type="submit">작성</button>
						<button type="button" onclick="history.back()">취소</button>
					</div>
				</div>
			</div>
		</form>
	</section>
	<footer>
		<div>
			<span>조성현</span> <span>주현록</span> <span>안해림</span> <span>이한빈</span>
		</div>
	</footer>
	<script type="text/javascript" src="/js/boardinsert.js"></script>
</body>
</html>
