<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="container">
      <div id="conatiner_box">
        <div id="container_tran">
          <form action="/login" method="post">
            <div id="registImg"></div>
            <div id="regist">
              <div class="inputbox">
                <div class="imgbox" id="idimg">
                  <img src="/img/id.png" alt="" />
                </div>
                <input type="text" name="mid" placeholder="Username" />
              </div>
              <div class="inputbox">
                <div class="imgbox" id="pwimg">
                  <img src="/src/pw.png" alt="" />
                </div>
                <input type="password" name="mpw" placeholder="********" />
              </div>
              <button type="submit" id="loginBox">LOGIN</button>
            </div>
            <div id="more">
              <div>
                <a href="guestLogin">Guest Join</a>
              </div>
              <div>
                <a href="regist">Register</a>
              </div>
            </div>
            <div id="footer">
              <span>Copyright 2023 LACJ inc. all rights reserved. </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="overlay"></div>
  </body>
</html>
